<nav class="navbar navbar-expand-lg navbar-dark glass sticky-top mb-4 shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/">📚 KSIĘGARNIA</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link" routerLink="/">Sklep</a></li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart">
                        Koszyk <span class="badge bg-info text-dark">{{ totalInCart }}</span>
                    </a>
                </li>
                
                <ng-container *ngIf="isLoggedIn">
                    <li class="nav-item"><a class="nav-link text-info" routerLink="/panel">Panel Sterowania</a></li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-danger ms-lg-3" (click)="logout()">Wyloguj</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="!isLoggedIn">
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Logowanie</a></li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>